# Секреты и настройки (никогда не выгружать!)
secrets.toml
.streamlit/secrets.toml
.env

# Папки виртуального окружения (они весят гигабайты, их не грузят)
venv/
env/
.venv/
__pycache__/

# Системные файлы
.DS_Store
